@charset "UTF-8";

body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    background-color: rgb(245, 107, 130);
    color: white;
}

h1{
    color: rgb(245, 107, 130);
}

h2{
    color: rgb(165, 52, 114);
}

.basico{
    color: rgb(87, 144, 87);
}

.intermediario{
    color: rgb(207, 169, 65);
}

.avancado{
    color: rgb(207, 65, 65);
}
